@import "tailwindcss";

:root {
  --background: #FCF1F3;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCF1F3;
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var( --font-kantumruyPro), sans-serif;
}

h1 {
  color: #F0B394; 
  font-size: 6rem;
  font-weight: 200;
  text-align: right;
  font-family: var( --font-playpen), sans-serif;
}
