@import "tailwindcss";

:root {
  --background: #FCF1F3;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCF1F3;
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var( --font-kantumruyPro), sans-serif;
}

.header {
  position: fixed;
  background: transparent;
  padding: 0 7rem;
  height: 12vh;
  width: 100%;
  background: white;
  z-index: 4;

  @media (max-width: 640px) {
    height: 8vh;
    padding: 0;
  }
  
}

a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
a:hover {
  color: #F4D861; /* or your brand color */
}

h1 {
  padding: 0.6rem 0 1.5rem 0;
  color: #E5504D; 
  font-size: 3.7rem;
  font-weight: 300;
  font-family: var( --font-playpen), sans-serif;
  @media (max-width: 640px) {
    text-align: center;
  }
}

.content {
  top: 20vh;
  margin-bottom: 5rem;
  display: block;
}

.wrapper {
  min-height: 85vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 800px) {
    padding: 2rem 7rem;
  }

  @media (max-width: 640px) {
    padding: 2rem 1rem 1rem 1rem;
  }
}

.wrapper:has(.gallery-container) {
  /* styles for .wrapper only when it contains a .gallery-container */
  display: block;
}

.portableText {

  p {
    text-align: center;
    padding-bottom: 1.5rem;
  }
}

.embeddedImage {
  height: 250px;
  object-fit: contain;
}

/* Four corner decorative images */
.corner-decoration {
  position: fixed;
  width: 60px;        /* adjust as needed */
  height: 60px;
  z-index: 5;       /* stay above background, below overlays */
  opacity: 0.9;       /* slightly transparent */
  pointer-events: none; /* so they don’t block clicks */
}

.corner-top-left {
  top: 10px;
  left: 10px;
}

.corner-top-right {
  top: 10px;
  right: 10px;

}

.corner-bottom-left {
  bottom: 10px;
  left: 10px;
}

.corner-bottom-right {
  bottom: 10px;
  right: 10px;
}

@media (max-width: 640px) {
  .corner-decoration {
    width: 40px;
    height: 40px;
    opacity: 0.7;
  }

}